.alert {
    position: relative;
    padding: 15px 25px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #fff;
}

.alert.alert-danger {
    color: #721c24;
    background-color: #e74c3c;
    border-color: #f5c6cb
}

.alert.alert-info {
    background-color: #3498db;
    border-color: rgb(30,100,150)
}

.alert.alert-warning {
    background-color: #f39c12;
    border-color: rgb(203,126,8)
}

.alert.alert-success {
    background-color: #00bc8c;
    border-color: rgb(0, 140, 100)
}

.alert.alert-info a {
    color: #fff;
    text-decoration: underline
}
