mark {
    color: inherit;
    padding: 0;
    background: none;
    background-image: linear-gradient(120deg, rgba(233,1,1,0.4) 0%, rgba(233,1,1,0.6) 100%);
    background-repeat: no-repeat;
    background-size: 0% .2em;
    background-position: 0 86%;
    position: relative;
    -webkit-animation-delay: 1s;
    animation-delay: 0.3s
}

mark[data-aos="highlight-text"].aos-animate {
    background-size: 100% .2em
}

mark:not([data-aos="highlight-text"]) {
    background-size: 100% .2em
}

.text-primary mark {
    background-image: linear-gradient(120deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.25) 100%)
}

@-webkit-keyframes animateMark {
    0% {
        background-size: 0% .2em
    }

    100% {
        background-size: 100% .2em
    }
}

@keyframes animateMark {
    0% {
        background-size: 0% .2em
    }

    100% {
        background-size: 100% .2em
    }
}